# import dependencies

In [148]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import datetime
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup

# Web Scraping

In [154]:
url = 'https://www.worldometers.info/coronavirus/#countries'
req = Request(url, headers={ 'User-Agent': 'Mozilla/5.0'})
web_page = urlopen(req)
soup = BeautifulSoup(web_page, 'html.parser')

In [219]:
table = soup.find('table', attrs={ 'id' : 'main_table_countries_yesterday' })
#print(table)
containers = table.findAll('tr', attrs={ "style": ""})
title = containers[0]

del containers[0]

all_data = []
clean = True

for country in containers:
    country_data = []
    country_container = country.findAll('td')
    
    if country_container[1].text == "China":
        continue
    for i in range(1, len(country_container)):
        final_feature = country_container[i].text
        if clean :
            if i != 1 and i != len(country_container)-1:
                final_feature = final_feature.replace(",","")
                if final_feature.find("+") != -1:
                    final_feature = final_feature.replace("+","")
                    final_feature = float(final_feature)
                elif final_feature.find('-') != -1:
                    final_feature = final_feature.replace("-", "")
                    final_feature = final_feature.float(final_feature)*-1
            if final_feature == "N/A":
                final_feature = 0
            elif final_feature == "" or final_feature == " ":
                final_feature = -1
                    
            
            country_data.append(final_feature)
            
        all_data.append(country_data)

# Cleaning data with Pandas

In [220]:
df = pd.DataFrame(all_data)
#column_labels = [ "Country", "Total cases", "new cases", "total deaths", "new deaths", "total recoveries", "new recoveries", "active cases","serious/critical", "cases/1M", "deaths/1M", "Total tests", "tests/1M", "Population"]           
#df.columns = column_labels

In [216]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,World,217271433,499904.0,4514821,7616.0,194128642,461749.0,18627970,113559,27874,...,-1,-1,-1,All,\n,-1,-1,-1,-1,-1
1,World,217271433,499904.0,4514821,7616.0,194128642,461749.0,18627970,113559,27874,...,-1,-1,-1,All,\n,-1,-1,-1,-1,-1
2,World,217271433,499904.0,4514821,7616.0,194128642,461749.0,18627970,113559,27874,...,-1,-1,-1,All,\n,-1,-1,-1,-1,-1
3,World,217271433,499904.0,4514821,7616.0,194128642,461749.0,18627970,113559,27874,...,-1,-1,-1,All,\n,-1,-1,-1,-1,-1
4,World,217271433,499904.0,4514821,7616.0,194128642,461749.0,18627970,113559,27874,...,-1,-1,-1,All,\n,-1,-1,-1,-1,-1

# Visualize with Matplotlib